<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.invictus.giveitup2" android:versionName="1.6.1" android:versionCode="10008899" android:installLocation="auto">
  <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="17" />
  <uses-feature android:name="android.hardware.type.television" android:required="false" />
  <application android:name="com.east2west.unitygame.GameSdkApplication" android:icon="@drawable/app_icon" android:label="@string/app_name" android:debuggable="false">
  
    <activity android:name="com.east2west.unitygame.MainActivity" 
	android:label="@string/app_name" 
	android:screenOrientation="landscape" 
	android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
	<!--main-->
<intent-filter>
<action android:name="android.intent.action.MAIN"/>
<category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
	<!--end-->
    </activity>
	


	
    <meta-data android:name="CHANNEL_NAME" android:value="" />
	<meta-data android:name="MOBILE_SPLASH" android:value="0" />
	
	
    <!--launcher-->
    <!--end-->
	
	
    <!--telecom-->
    <activity android:name="cn.play.dserv.EmpActivity" android:configChanges="keyboard|keyboardHidden|orientation" android:exported="true" />
    <service android:name="cn.play.dserv.DService" android:enabled="true" android:exported="false" android:label="dservice" android:process=":dservice_v1">
    </service>
    <receiver android:name="cn.play.dserv.DsReceiver" android:process=":dservice_v1">
      <intent-filter>
        <action android:name="cn.play.dservice" />
      </intent-filter>
    </receiver>
    <meta-data android:name="EGAME_CHANNEL" android:value="10000000" />
    <meta-data android:name="EGAME_IAPPPAY" android:value="false" />
    <meta-data android:name="EGAME_ALIPAY" android:value="false" />
    <meta-data android:name="EGAME_UNIPAY" android:value="false" />
    <meta-data android:name="EGAME_NOWWECHATPAY" android:value="false" />
    <!--end-->
	
	
    <!--unicom-->
    <meta-data android:name="wostore_billing_otherpay" android:value="false" />
    <meta-data android:name="wostore_billing_chinaunicom" android:value="true" />
    <meta-data android:name="wostore_billing_chinamobile" android:value="false" />
    <meta-data android:name="wostore_billing_chinatele" android:value="false" />

    <service android:name="com.unicom.wostore.unipay.paysecurity.SecurityServiceFramework" />
    <service android:name="com.unicom.wostore.unipay.paysecurity.UpdateService" android:process=":unicomuptsrv" />
    <!--end-->
	
	
    <!-- Umeng   begin -->
    <receiver android:name="com.umeng.message.NotificationProxyBroadcastReceiver" android:exported="false">
    </receiver>
    <receiver android:name="com.umeng.message.SystemReceiver" android:process=":push">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.PACKAGE_REMOVED" />
        <data android:scheme="package" />
      </intent-filter>
    </receiver>
    <receiver android:name="com.umeng.message.MessageReceiver" android:exported="false" android:process=":push">
      <intent-filter>
        <action android:name="org.agoo.android.intent.action.RECEIVE" />
      </intent-filter>
    </receiver>
    <receiver android:name="com.umeng.message.ElectionReceiver" android:process=":push">
      <intent-filter>
        <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />
        <category android:name="umeng" />
      </intent-filter>
    </receiver>
    <receiver android:name="com.umeng.message.RegistrationReceiver" android:exported="false">
      <intent-filter>
        <action android:name="com.invictus.giveitup2.intent.action.COMMAND" />
      </intent-filter>
    </receiver>
    <receiver android:name="com.umeng.message.UmengMessageBootReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
    <service android:name="com.umeng.message.UmengService" android:label="PushService" android:exported="true" android:process=":push">
      <intent-filter>
        <action android:name="com.invictus.giveitup2.intent.action.START" />
      </intent-filter>
      <intent-filter>
        <action android:name="com.invictus.giveitup2.intent.action.COCKROACH" />
      </intent-filter>
      <intent-filter>
        <action android:name="org.agoo.android.intent.action.PING_V4" />
        <category android:name="umeng" />
      </intent-filter>
    </service>
    <service android:name="com.umeng.message.UmengIntentService" android:process=":push" />
    <service android:name="com.umeng.message.UmengMessageIntentReceiverService" android:process=":push" android:exported="true">
      <intent-filter>
        <action android:name="org.android.agoo.client.MessageReceiverService" />
      </intent-filter>
      <intent-filter>
        <action android:name="org.android.agoo.client.ElectionReceiverService" />
      </intent-filter>
    </service>
    <service android:name="com.umeng.message.UmengMessageCallbackHandlerService" android:exported="false">
      <intent-filter>
        <action android:name="com.umeng.messge.registercallback.action" />
      </intent-filter>
      <intent-filter>
        <action android:name="com.umeng.message.unregistercallback.action" />
      </intent-filter>
      <intent-filter>
        <action android:name="com.umeng.message.message.handler.action" />
      </intent-filter>
      <intent-filter>
        <action android:name="com.umeng.message.autoupdate.handler.action" />
      </intent-filter>
    </service>
    <service android:name="com.umeng.message.UmengDownloadResourceService" />
    <service android:name="com.umeng.message.local.UmengLocalNotificationService" android:exported="false" />
    <meta-data android:name="UMENG_APPKEY" android:value="561dd98d67e58e597b005498">
    </meta-data>
    <meta-data android:name="UMENG_MESSAGE_SECRET" android:value="fff79ff4ae1d5eaddd408ea57cfd8fc2">
    </meta-data>
    <meta-data android:name="UMENG_CHANNEL" android:value="Channel ID">
    </meta-data>
    <!-- Umeng   end -->
	
<!--baidu-->  
<!--end-->

<!--UC-->   
<!--end-->

<!--qihu360-->     
<!--end-->

<!--anzhi-->     
<!--end-->

<!--oppo-->     
<!--end-->

<!--wxgame-->     
<!--end-->

<!--vivo-->     
<!--end-->

<!--jl-->     
<!--end-->

<!--ls-->     
<!--end-->

<!--wdj-->     
<!--end-->

<!--mz-->     
<!--end-->

<!--chel_4399-->     
<!--end-->

<!--hw-->
<!--end-->

<!--lxlsd-->
<!--end-->

<!--lxyx-->
<!--end-->

<!--Adcode--> 
<!--end-->
  </application>
  
  <!-- allchannelstart -->
  <uses-permission android:name="android.permission.READ_CONTACTS" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
  <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
  <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
  <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
  <uses-permission android:name="cn.cmgame2_0.launch_model.shortcut.main.MiguHomeActivity"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <!-- allchannelstartend -->

  <!--3in1xml -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.GET_TASKS" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="com.android.vending.BILLING" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.SEND_SMS" />
  <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
  <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
  <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
  <uses-permission android:name="android.permission.WRITE_SETTINGS" />
  <uses-permission android:name="android.permission.CALL_PHONE" />
  <!--end-->
  
<!--baiduxml-->
<!--end-->

<!--UCxml-->
<!--end-->

<!--anzhixml-->
<!--end-->

<!--qihu360xml-->
<!--end-->

<!--oppoxml-->     
<!--end-->

<!--xmxml-->
<!--end-->

<!--wxgamexml-->
<!--end-->

<!--vivoxml-->
<!--end-->

<!--jlxml-->
<!--end-->

<!--lsxml-->
<!--end-->

<!--wdjxml-->     
<!--end-->

<!--mzxml-->     
<!--end-->

<!--chel_4399xml-->     
<!--end-->

<!--hwxml-->
<!--end-->

<!--lxlsdxml-->
<!--end-->

<!--lxyxxml-->
<!--end-->
  <uses-feature android:glEsVersion="0x00020000" />
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
  <uses-feature android:name="android.hardware.faketouch" android:required="false" />
  <uses-feature android:name="android.hardware.telephony" android:required="false" />
  <uses-feature android:name="android.hardware.camera" android:required="false" />
  <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
  <uses-feature android:name="android.hardware.nfc" android:required="false" />
  <uses-feature android:name="android.hardware.gps" android:required="false" />
  <uses-feature android:name="android.hardware.microphone" android:required="true" />
  <uses-feature android:name="android.hardware.sensor" android:required="false" />
  <uses-feature android:name="android.software.leanback" android:required="false" />
  <uses-feature android:name="android.hardware.microphone" android:required="false" />
</manifest>
